@import url(https://fonts.googleapis.com/css?family=Work+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300);
* {
    max-width: 100%;
}
html, body {
    max-width: 100%;
    !important height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background: #eeeeee;
}
.clearfix {
    *zoom: 1
}
.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0
}
.clearfix:after {
    clear: both
}
.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}
.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
body {
    font-size: 12px;
    color: #34495e;
    background: #f5f5f5
}
body h1, body h2, body h3, body h4, body .created {
    font-family: "Roboto Slab", sans-serif;
    ;
    font-weight: normal
}
body h5, body h6 {
    margin: 0
}
body h3, body h4 {
    margin-top: 0
}
.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0;
    background-image: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}
.btn.btn-transparent {
    border: 3px solid #fff;
    background: transparent;
    color: #fff
}
.btn.btn-transparent:hover {
    border-color: rgba(255, 255, 255, 0.5)

}
.btn.btn-link {
    color: #FD5D75;
    padding: 0
}
.btn.btn-link:hover {
    text-decoration: none
}
.btn-primary {
    background-color: #FD5D75;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}
.btn-primary:hover {
    background-color: #C6364B;
    color: #fff;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}
a {
    color: #002C6C;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms
}
a:hover, a:focus {
    color: #002C6C;
    text-decoration: none;
    outline: 0
}
.dropdown-menu {
    margin-top: -1px;
    min-width: 180px
}
body>section {
    padding: 50px 0
}
body>section#slide-show {
    padding: 0
}
#countdownsection {
    background: #FD5D75;
    color: #fff
}
#countdownsection .links>a {
    background: #fff;
    color: #2dcc70;
    text-shadow: none
}
#sponsors {
    background: #fff
}
#sponsors h4 {
    color: #999
}
#sponsors .carousel {
    margin-bottom: 0
}
#sponsors .sponsors ul.thumbnails {
    margin: 0
}
#sponsors .sponsors ul.thumbnails>li {
    text-align: center;
    margin-bottom: 0
}
#sponsors .prev, #sponsors .next {
    color: #FD5D75
}
.title {
    color: #002C6C;
    padding: 25px 0;
}
.center {
    text-align: center
}
.box {
    background-color: #fff;
    border-top: 1px solid #f0f0f0;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}
.progress {
    margin-bottom: 10px
}
.progress, .progress .bar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    height: 30px;
    line-height: 30px
}
.label, .badge {
    font-weight: 300;
    font-size: 90%
}
ul.breadcrumb {
    margin: 12px 0 0;
    background: transparent
}
ul.breadcrumb>li {
    text-shadow: none
}
ul.breadcrumb>li>a, ul.breadcrumb>li .divider {
    color: #fff
}
ul.breadcrumb>li.active {
    color: rgba(255, 255, 255, 0.7)
}
ul.tag-cloud li {
    display: inline-block;
    margin: 0 0 2px 0
}
.btn-social {
    border: 0;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.5)
}
.btn-social.btn-facebook {
    background: #4f7dd4
}
.btn-social.btn-facebook:hover {
    background: #789bde
}
.btn-social.btn-twitter {
    background: #5bceff
}
.btn-social.btn-twitter:hover {
    background: #8eddff
}
.btn-social:hover {
    color: #fff
}
header.navbar .navbar-inner {
    background: #fff!important;
    min-width: 107%;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}
header #logo {
    width: 220px;
    height: 80px;
    margin-left: -20%;
    background: url(../images/logo.png) no-repeat 0 0%
}
header.navbar {}
header.navbar .nav {
    margin-top: 20px;
    max-width: 100%;
    align: right;
    display: inline;
}
header.navbar .nav>li {
    margin-right: -10px;
}
header.navbar .nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #333;
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: none
}
header.navbar .nav>li>a:hover {
    background: transparent;
    color: #FD5D75;
    border-bottom: 5px solid #002C6C;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}
header.navbar .nav>li.active>a, header.navbar .nav>li.active>a:hover {
    background: transparent;
    color: #FD5D75;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}
header.navbar .nav>li.dropdown.open>a.dropdown-toggle {
    background: transparent;
    color: #FD5D75
}
header.navbar .nav>li.login>a {
    border-left: 1px solid #e5e5e5
}
header .dropdown-menu {
    margin-top: 0px
}
header .dropdown-menu:before {
    display: none!important
}
.navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle, .navbar .nav li.dropdown.open.active>.dropdown-toggle {
    background-color: transparent;
    color: #FD5D75
}
.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}
.navbar .nav>li>a:focus, .navbar .nav>li>a:hover {
    color: #FD5D75
}
.dropdown-menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0;
    border: 0
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
    background: #FD5D75
}
.main-info {
    background-color: #fff;
    color: #999
}
.main-info h4 {
    color: #999
}
.icon-medium {
    font-size: 18px;
    width: 18px;
    line-height: 18px;
    text-align: center;
    display: inline-block;
    background: #FD5D75;
    padding: 10px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: #fff
}
.modal {
    border: 0;
    width: 600px;
    max-width: 90%;
    !important height: auto;
}
.modal#loginForm {
    width: 600px;
    margin-left: -300px
}
.modal .modal-header {
    border: 0;
    padding: 20px 20px 0
}
.modal .modal-header>h4 {
    font-weight: 300;
    font-size: 14px;
    color: #848484;
    text-transform: uppercase;
    margin: 0
}
.modal .modal-body {
    padding-left: 2.5%;
    position: absolute;
}
.modal input[type="text"], .modal input[type="password"] {
    padding: 5px 10px;
    min-height: 30px;
    width: 130px;
    margin-right: 10px
}
.modal .icon-remove {
    color: #fff;
    position: absolute;
    right: -10px;
    z-index: 9999;
    top: -5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
    background: red;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    cursor: pointer
}
.modal button {
    margin-left: 10px;
    border: 0
}
.gap {
    margin-bottom: 50px
}
.big-gap {
    margin-bottom: 100px
}
.no-margin {
    margin: 0;
    padding: 0
}
#about {
    background: #002C6C;
    color: #999
}
#about h1, #about h2, #about h3, #about h4, #about h5, #about h6 {
    color: #fff
}
h2 {
    font-size: 1.7em;
}
#main-contents {
    margin-top: 20px
}
#main-contents .blog-news .created {
    font-size: 18px;
    color: #2dcc70
}
.registration-form {
    border: 0;
    background-color: #fff;
    border-top: 1px solid #f0f0f0;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: inline-block
}
#bottom {
    background: #232323;
    color: #6f6f6f
}
#bottom h4 {
    margin-top: 0;
    margin-bottom: 15px
}
#bottom h1, #bottom h2, #bottom h3, #bottom h4, #bottom h5, #bottom h6 {
    color: #fff
}
#bottom a {
    color: #6f6f6f
}
#bottom a:hover {
    color: #FD5D75
}
#bottom ul.address>li {
    position: relative;
    padding-left: 20px;
    margin-top: 10px
}
#bottom ul.address>li:first-child {
    margin-top: 0
}
#bottom ul.address>li>i {
    position: absolute;
    top: 3px;
    left: 0
}
#bottom ul.thumbnails {
    margin-bottom: 0
}
#bottom ul.thumbnails li {
    margin-bottom: 5px
}
ul.arrow, ul.arrow-double, ul.tick, ul.cross, ul.star, ul.rss {
    list-style: none;
    padding: 0;
    margin: 0
}
ul.arrow li::before, ul.arrow-double li::before, ul.tick li::before, ul.cross li::before, ul.star li::before, ul.rss li::before, ul.arrow li::after, ul.arrow-double li::after, ul.tick li::after, ul.cross li::after, ul.star li::after, ul.rss li::after {
    font-family: FontAwesome;
    font-size: 11px
}
ul.arrow li::before, ul.arrow-double li::before, ul.tick li::before, ul.cross li::before, ul.star li::before, ul.rss li::before {
    margin-right: 5px
}
ul.arrow li::before {
    content: "\f105"
}
ul.arrow-double li::before {
    content: "\f101"
}
ul.tick li::before {
    content: "\f00c"
}
ul.cross li::before {
    content: "\f00d"
}
ul.star li::before {
    content: "\f006"
}
ul.rss li::before {
    content: "\f09e"
}
#footer {
    background: #333;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    font-family: "Work Sans", sans-serif;
}
#footer a {
    color: #fff;
}
#footer a:hover {
    color: #FD5D75
}
#footer #gototop {
    height: 40px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    display: inline-block;
    background: #1d1d1d;
    font-size: 24px;
    color: #fff
}
#footer #gototop:hover {
    background: #2b2b2b;
    text-decoration: none
}
#footer .cp {
    margin-top: 11px
}
ul.social {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    display: inline-block
}
ul.social>li {
    display: inline-block;
    margin: 0 5px
}
ul.social>li>a {
    font-size: 24px;
    color: #fff
}
ul.social>li>a:hover {
    color: #FD5D75
}
.box-border {
    padding: 15px
}
.accordion-group {
    background-color: #fff;
    border-top: 1px solid #f0f0f0
}
.accordion-heading .accordion-toggle {
    color: #666;
    font-weight: 700
}
.accordion-inner {
    border-top: 0
}
.blog .blog-item h2 {
    margin-top: 0
}
.blog .blog-item .date span {
    display: block;
    text-align: center
}
.blog .blog-item .date span.day {
    font-size: 50px;
    line-height: 50px;
    padding-top: 10px;
    font-family: "Roboto Slab", sans-serif;
    , sans-serif
}
.blog .blog-item .date span.month {
    font-size: 18px
}
.blog .blog-item .tag {
    margin-top: 5px
}
.blog .blog-item .avatar {
    margin-top: 5px
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    min-height: 50px;
    padding: 0 15px;
    border: 3px solid #ededed
}
select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: #2dcc70;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}
.input-block-level {
    min-height: 50px
}
textarea#message {
    padding: 10px 15px;
    height: 219px
}
.widget {
    margin-bottom: 30px
}
.widget>h3 {
    font-size: 16px;
    margin-top: 0
}
.widget h5 {
    margin-top: 10px
}
.widget .date {
    margin-top: 5px;
    padding: 8px 10px;
    background: #2dcc70
}
.widget .date>span {
    display: block;
    text-align: center;
    font-family: "Roboto Slab", sans-serif;
    ;
    color: #fff
}
.widget .date>span.month {
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    text-transform: uppercase
}
.widget .date>span.day {
    font-size: 18px;
    line-height: 18px
}
#pricing-table {
    margin-top: 20px;
    margin-bottom: 30px
}
#pricing-table .plan {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff
}
#pricing-table .plan.featured {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1)
}
#pricing-table .plan>li {
    padding: 10px 15px
}
#pricing-table .plan>li.plan-name {
    background: rgba(0, 0, 0, 0.1)
}
#pricing-table .plan>li.plan-name h3 {
    margin: 10px 0
}
#pricing-table .plan>li.plan-action {
    padding: 20px 0
}
#pricing-table .plan1 {
    background: #1abc9c
}
#pricing-table .plan2 {
    background: #e74c3c
}
#pricing-table .plan3 {
    background: #3498db
}
#pricing-table .plan4 {
    background: #9b59b6
}
ul.gallery {
    display: block;
    margin: -15px
}
ul.gallery.col-1 li {
    width: 100%
}
ul.gallery.col-2 li {
    width: 50%
}
ul.gallery.col-3 li {
    width: 33.3333%
}
ul.gallery.col-4 li {
    width: 25%
}
ul.gallery li {
    display: block;
    padding: 0;
    margin: 0;
    float: left
}
ul.gallery li .desc {
    margin: 15px
}
ul.gallery li .preview {
    margin: 15px;
    display: block;
    position: relative
}
ul.gallery li .preview .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms
}
ul.gallery li .preview .links {
    width: 104px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -52px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate(0, -50px);
    -moz-transform: translate(0, -50px);
    -ms-transform: translate(0, -50px);
    -o-transform: translate(0, -50px);
    transform: translate(0, -50px);
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms
}
ul.gallery li .preview .links>a {
    width: 50px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    background: #2dcc70;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    margin: 0 1px
}
ul.gallery li .preview:hover .overlay, ul.gallery li .preview:hover .links {
    opacity: 1;
    filter: alpha(opacity=100)
}
ul.gallery li .preview:hover .links {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0)
}
ul.faq {
    list-style: none;
    margin: 0
}
ul.faq li {
    margin-top: 30px
}
ul.faq li:first-child {
    margin-top: 0
}
ul.faq li span.number {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #2dcc70;
    color: #fff;
    font-size: 24px
}
ul.faq li>div {
    margin-left: 70px
}
ul.faq li>div h3 {
    margin-top: 0
}
#error {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px
}
#mainlogo {
    position: relative;
    height: 100%;
}
#logo {
    width: 600px;
    display: block;
    margin: auto;
    padding-top: 55px;
    position: relative;
}
#widelogo {
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding-right: 22%;
    position: relative;
}
.text {
    color: #fff;
    font-size: 1.35em;
    font-family: 'Roboto Slab';
    line-height: 1.7em;
}
.addmargin {
    left: 20px;
    right: 20px;
}
.shadow {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
}
.whiteborder {
    border-color: #fff;
    border-width: 3px;
    border-style: solid;
}
###################################################

#count-down {
    font-size: 20px;
    margin-left: 50px;
}
#count-down ul {
    display: inline-block;
    width: 90%;
    margin-left: 0%;
    list-style: none outside none;
    margin-top: -3%;
    padding: 0;
    align: center;
}
#count-down ul:after {
    content: "";
    display: inline;
}
#count-down li {
    display: inline-block;
    padding: 0 10px;
    position: relative;
    text-align: center;
    width: 125px;
    height: 175px;
}
#count-down div {
    background: #ccc;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-size: 1em;
    line-height: 1em;
    padding: 1em;
    position: relative;
}
#count-down div:after {
    content: " " attr(data-interval-text);
    display: inline;
    position: relative;
}
#count-down {
    font-size: 50px;
    font-family: "Work Sans", sans-serif;
}
#count-down div {
    background: #002C6C;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    overflow: hidden;
    margin: 30px 0;
    padding: .6em .25em 0.9em;
    box-shadow: 0 30px 50px 5px rgba(0, 0, 0, .44);
    text-shadow: 0px 0px #00204f, 1px 1px #00204f, 2px 2px #00204f, 3px 3px #00204f, 4px 4px #00204f, 5px 5px #00204f, 6px 6px #00204f, 7px 7px #00204f, 8px 8px #00204f, 9px 9px #00204f, 10px 10px #00204f, 11px 11px #00204f, 12px 12px #00204f, 13px 13px #00204f, 14px 14px #00204f, 15px 15px #00204f, 16px 16px #00204f, 17px 17px #00204f, 18px 18px #00204f, 19px 19px #00204f, 20px 20px #00204f, 21px 21px #00204f, 22px 22px #00204f, 23px 23px #00204f, 24px 24px #00204f, 25px 25px #00204f, 26px 26px #00204f, 27px 27px #00204f, 28px 28px #00204f, 29px 29px #00204f, 30px 30px #00204f, 31px 31px #00204f, 32px 32px #00204f, 33px 33px #00204f, 34px 34px #00204f, 35px 35px #00204f, 36px 36px #00204f, 37px 37px #00204f, 38px 38px #00204f, 39px 39px #00204f, 40px 40px #00204f, 41px 41px #00204f, 42px 42px #00204f, 43px 43px #00204f, 44px 44px #00204f, 45px 45px #00204f, 46px 46px #00204f, 47px 47px #00204f, 48px 48px #00204f, 49px 49px #00204f, 50px 50px #00204f, 51px 51px #00204f, 52px 52px #00204f, 53px 53px #00204f, 54px 54px #00204f, 55px 55px #00204f, 56px 56px #00204f, 57px 57px #00204f, 58px 58px #00204f, 59px 59px #00204f, 60px 60px #00204f, 61px 61px #00204f, 62px 62px #00204f, 63px 63px #00204f, 64px 64px #00204f, 65px 65px #00204f, 66px 66px #00204f, 67px 67px #00204f, 68px 68px #00204f, 69px 69px #00204f, 70px 70px #00204f, 71px 71px #00204f, 72px 72px #00204f, 73px 73px #00204f, 74px 74px #00204f, 75px 75px #00204f, 76px 76px #00204f, 77px 77px #00204f, 78px 78px #00204f, 79px 79px #00204f, 80px 80px #00204f, 81px 81px #00204f, 82px 82px #00204f, 83px 83px #00204f, 84px 84px #00204f, 85px 85px #00204f, 86px 86px #00204f, 87px 87px #00204f, 88px 88px #00204f, 89px 89px #00204f, 90px 90px #00204f, 91px 91px #00204f, 92px 92px #00204f, 93px 93px #00204f, 94px 94px #00204f, 95px 95px #00204f, 96px 96px #00204f, 97px 97px #00204f, 98px 98px #00204f, 99px 99px #00204f, 100px 100px #00204f, 101px 101px #00204f, 102px 102px #00204f, 103px 103px #00204f, 104px 104px #00204f, 105px 105px #00204f, 106px 106px #00204f, 107px 107px #00204f, 108px 108px #00204f, 109px 109px #00204f, 110px 110px #00204f, 111px 111px #00204f, 112px 112px #00204f, 113px 113px #00204f, 114px 114px #00204f, 115px 115px #00204f, 116px 116px #00204f, 117px 117px #00204f, 118px 118px #00204f, 119px 119px #00204f, 120px 120px #00204f, 121px 121px #00204f, 122px 122px #00204f, 123px 123px #00204f, 124px 124px #00204f, 125px 125px #00204f, 126px 126px #00204f, 127px 127px #00204f, 128px 128px #00204f, 129px 129px #00204f, 130px 130px #00204f, 131px 131px #00204f, 132px 132px #00204f, 133px 133px #00204f, 134px 134px #00204f, 135px 135px #00204f, 136px 136px #00204f, 137px 137px #00204f, 138px 138px #00204f, 139px 139px #00204f, 140px 140px #00204f, 141px 141px #00204f, 142px 142px #00204f, 143px 143px #00204f, 144px 144px #00204f, 145px 145px #00204f, 146px 146px #00204f, 147px 147px #00204f, 148px 148px #00204f, 149px 149px #00204f, 150px 150px #00204f, 151px 151px #00204f, 152px 152px #00204f, 153px 153px #00204f, 154px 154px #00204f, 155px 155px #00204f, 156px 156px #00204f, 157px 157px #00204f, 158px 158px #00204f, 159px 159px #00204f, 160px 160px #00204f, 161px 161px #00204f, 162px 162px #00204f, 163px 163px #00204f, 164px 164px #00204f, 165px 165px #00204f, 166px 166px #00204f, 167px 167px #00204f, 168px 168px #00204f, 169px 169px #00204f, 170px 170px #00204f, 171px 171px #00204f, 172px 172px #00204f, 173px 173px #00204f, 174px 174px #00204f, 175px 175px #00204f, 176px 176px #00204f, 177px 177px #00204f, 178px 178px #00204f, 179px 179px #00204f, 180px 180px #00204f, 181px 181px #00204f, 182px 182px #00204f, 183px 183px #00204f, 184px 184px #00204f, 185px 185px #00204f, 186px 186px #00204f, 187px 187px #00204f, 188px 188px #00204f, 189px 189px #00204f, 190px 190px #00204f, 191px 191px #00204f, 192px 192px #00204f, 193px 193px #00204f, 194px 194px #00204f, 195px 195px #00204f, 196px 196px #00204f, 197px 197px #00204f, 198px 198px #00204f, 199px 199px #00204f, 200px 200px #00204f;
}
#count-down div:after {
    bottom: .5em;
    font-size: .4em;
    font-weight: normal;
    left: 50%;
    margin-left: -2em;
    position: absolute;
    width: 4em;
    text-shadow: 0px 0px #00204f, 1px 1px #00204f, 2px 2px #00204f, 3px 3px #00204f, 4px 4px #00204f, 5px 5px #00204f, 6px 6px #00204f, 7px 7px #00204f, 8px 8px #00204f, 9px 9px #00204f, 10px 10px #00204f, 11px 11px #00204f, 12px 12px #00204f, 13px 13px #00204f, 14px 14px #00204f, 15px 15px #00204f, 16px 16px #00204f, 17px 17px #00204f, 18px 18px #00204f, 19px 19px #00204f, 20px 20px #00204f, 21px 21px #00204f, 22px 22px #00204f, 23px 23px #00204f, 24px 24px #00204f, 25px 25px #00204f, 26px 26px #00204f, 27px 27px #00204f, 28px 28px #00204f, 29px 29px #00204f, 30px 30px #00204f, 31px 31px #00204f, 32px 32px #00204f, 33px 33px #00204f, 34px 34px #00204f, 35px 35px #00204f, 36px 36px #00204f, 37px 37px #00204f, 38px 38px #00204f, 39px 39px #00204f, 40px 40px #00204f, 41px 41px #00204f, 42px 42px #00204f, 43px 43px #00204f, 44px 44px #00204f, 45px 45px #00204f, 46px 46px #00204f, 47px 47px #00204f, 48px 48px #00204f, 49px 49px #00204f, 50px 50px #00204f, 51px 51px #00204f, 52px 52px #00204f, 53px 53px #00204f, 54px 54px #00204f, 55px 55px #00204f, 56px 56px #00204f, 57px 57px #00204f, 58px 58px #00204f, 59px 59px #00204f, 60px 60px #00204f, 61px 61px #00204f, 62px 62px #00204f, 63px 63px #00204f, 64px 64px #00204f, 65px 65px #00204f, 66px 66px #00204f, 67px 67px #00204f, 68px 68px #00204f, 69px 69px #00204f, 70px 70px #00204f, 71px 71px #00204f, 72px 72px #00204f, 73px 73px #00204f, 74px 74px #00204f, 75px 75px #00204f, 76px 76px #00204f, 77px 77px #00204f, 78px 78px #00204f, 79px 79px #00204f, 80px 80px #00204f, 81px 81px #00204f, 82px 82px #00204f, 83px 83px #00204f, 84px 84px #00204f, 85px 85px #00204f, 86px 86px #00204f, 87px 87px #00204f, 88px 88px #00204f, 89px 89px #00204f, 90px 90px #00204f, 91px 91px #00204f, 92px 92px #00204f, 93px 93px #00204f, 94px 94px #00204f, 95px 95px #00204f, 96px 96px #00204f, 97px 97px #00204f, 98px 98px #00204f, 99px 99px #00204f, 100px 100px #00204f, 101px 101px #00204f, 102px 102px #00204f, 103px 103px #00204f, 104px 104px #00204f, 105px 105px #00204f, 106px 106px #00204f, 107px 107px #00204f, 108px 108px #00204f, 109px 109px #00204f, 110px 110px #00204f, 111px 111px #00204f, 112px 112px #00204f, 113px 113px #00204f, 114px 114px #00204f, 115px 115px #00204f, 116px 116px #00204f, 117px 117px #00204f, 118px 118px #00204f, 119px 119px #00204f, 120px 120px #00204f, 121px 121px #00204f, 122px 122px #00204f, 123px 123px #00204f, 124px 124px #00204f, 125px 125px #00204f, 126px 126px #00204f, 127px 127px #00204f, 128px 128px #00204f, 129px 129px #00204f, 130px 130px #00204f, 131px 131px #00204f, 132px 132px #00204f, 133px 133px #00204f, 134px 134px #00204f, 135px 135px #00204f, 136px 136px #00204f, 137px 137px #00204f, 138px 138px #00204f, 139px 139px #00204f, 140px 140px #00204f, 141px 141px #00204f, 142px 142px #00204f, 143px 143px #00204f, 144px 144px #00204f, 145px 145px #00204f, 146px 146px #00204f, 147px 147px #00204f, 148px 148px #00204f, 149px 149px #00204f, 150px 150px #00204f, 151px 151px #00204f, 152px 152px #00204f, 153px 153px #00204f, 154px 154px #00204f, 155px 155px #00204f, 156px 156px #00204f, 157px 157px #00204f, 158px 158px #00204f, 159px 159px #00204f, 160px 160px #00204f, 161px 161px #00204f, 162px 162px #00204f, 163px 163px #00204f, 164px 164px #00204f, 165px 165px #00204f, 166px 166px #00204f, 167px 167px #00204f, 168px 168px #00204f, 169px 169px #00204f, 170px 170px #00204f, 171px 171px #00204f, 172px 172px #00204f, 173px 173px #00204f, 174px 174px #00204f, 175px 175px #00204f, 176px 176px #00204f, 177px 177px #00204f, 178px 178px #00204f, 179px 179px #00204f, 180px 180px #00204f, 181px 181px #00204f, 182px 182px #00204f, 183px 183px #00204f, 184px 184px #00204f, 185px 185px #00204f, 186px 186px #00204f, 187px 187px #00204f, 188px 188px #00204f, 189px 189px #00204f, 190px 190px #00204f, 191px 191px #00204f, 192px 192px #00204f, 193px 193px #00204f, 194px 194px #00204f, 195px 195px #00204f, 196px 196px #00204f, 197px 197px #00204f, 198px 198px #00204f, 199px 199px #00204f, 200px 200px #00204f;
}
img.grayscale {
    -webkit-transition: all .3s ease-in-out;
}
img.grayscale:hover {
    filter: none;
    -webkit-transform: scale(1.15);
    z-index: 999;
}
.lightbox {
    /** Default lightbox to hidden */
    display: none;
    /** Position and style */
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}
.lightbox img {
    /** Pad the lightbox image */
    max-width: 90%;
    max-height: 80%;
    margin-top: 2%;
}
.lightbox:target {
    /** Remove default browser outline */
    outline: none;
    /** Unhide lightbox **/
    display: block;
}
.board {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 33%;
    position: relative;
    min-width: 150px;
    margin-bottom: 45px;
}
.board img {
    margin-left: 10%;
}
.boardname {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.3em;
    color: #002C6C;
    margin-left: 10%;
}
.boardtitle {
    margin-top: -8px;
    font-family: sans-serif;
    font-size: 1.2em;
    color: #002C6C;
    margin-left: 10%;
}
.nameunderline {
    border-bottom: 2px solid #FD5D75;
}
.mylink {
    color: #fff;
}
.mylink:hover {
    color: #FD5D75;
    text-decoration: underline;
}
.hotel:hover {
    text-decoration: underline;
}
